@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
	background-color: #55ACEE;
	margin: 100px auto;
	text-align: center;
	color: #FFFFFF;
	font-family: 'Roboto';
}
.box {
	margin: 50px auto;
}
.trigger {
	display: inline-block;
	height: 30px;
	width: 200px;
	line-height: 30px;
	background-color: #55ACEE;
	border: 1px solid #FFFFFF;
	border-radius: 2%;
	color: #FFFFFF; 
	margin: 10px 500px;
	padding: 0;
	font-size: 15px;
}
.tweet {
	color: #FFFFFF;
	height: 28px;
	line-height: 28px;
	width: 198px;
	background-color: #55ACEE;
	text-decoration: none;
	border: 1px solid #FFFFFF;
	display: inline-block;
	text-align: center;
	position: center;
	margin: 10px 500px;
	padding: 0;
	font-size: 15px;

}